.Data {
  background-color: #9ed55f;
}
.Web {
  background-color: #606c38;
}
.Software {
  background-color: #fefae0;
}
.Other {
  background-color: #dda15e;
}
.Soft {
  background-color: #bc6c25;
}

.skill-bar {
  background-color: rgb(218, 217, 217);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;

  margin: 20px 0px;
}

._1,
._2,
._3,
._4,
._5 {
  border-radius: 5px;
  padding: 5px 10px;
}
._1 {
  width: 20%;
}
._2 {
  width: 40%;
}
._3 {
  width: 60%;
}
._4 {
  width: 80%;
}
._5 {
  width: 100%;
}

.percentage {
  padding: 5px 10px;
}
