.card-center {
  margin: 12% auto;
  width: 85%;
  padding: 5%;
}
.card-top {
  border-bottom: dotted 1px rgb(148, 148, 148);
}
.card-title {
  letter-spacing: 3px;
}
.card-top-p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 200;
}

.card-bottom {
  margin-top: 50px;
  margin-bottom: 20px;
}

.card-bottom-p {
  line-height: 3;
}

.card-bottom > .like-p {
  margin: 15px 0px;
  display: flex;
  justify-content: center;
}
.card-bottom > .like-p > .far {
  margin-left: 30px;
  font-size: 2em;
}

.link {
  text-decoration: none;
  color: gray;
}
.link:hover {
  color: olive;
}

@media screen and (max-width: 700px) {
  .card-center {
    margin-top: 30%;
  }
}
