._dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  background: grey;
}

._dropdown-menu li {
  background: grey;
  cursor: pointer;
  opacity: 0.8;
}

._dropdown-menu li:hover {
  background: rgb(171, 171, 171);
}

._dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff !important;
  padding: 20px 20px;
}
