.navbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  background-color: white;
}

.navbar-container {
  display: flex;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
}
.nav-item {
  border-right: dotted 1px rgba(111, 111, 111, 0.2);
  padding: 20px 20px;
  margin: auto 0px;
  list-style-type: none;
}
.nav-links {
  color: grey;
  text-decoration: none;
  font-size: 16px;
}
.logo {
  font-weight: 900;
  color: black;
  text-decoration: none;
  font-size: 26px;
  margin: auto 0px;
  text-align: center;
}

.nav-links:hover {
  color: rgb(115, 115, 211);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 950px) {
  .navbar {
    z-index: 2;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 30px;
    right: -100%;
    opacity: 1;
    transition: all 0.5s ease-out;
  }
  .menu-icon {
    display: block;
    position: fixed;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav-menu.open {
    background: white;
    right: -50%;
    opacity: 0.95;
    transition: all 0.5s ease;
    z-index: 0;
  }
  .nav-links {
    border-bottom: solid 1px grey;
    padding-bottom: 3px;
  }

  .logo {
    border-bottom: none;
    padding-bottom: none;
  }
}
