@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@700&family=Edu+SA+Beginner:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Edu SA Beginner", cursive;
}
body {
  background-color: rgb(247, 244, 244);
}

.sub-title {
  letter-spacing: 0.2rem;
  border-bottom: 3px solid black;
}

.text-muted {
  line-height: 2em;
}

/* Skill bar */
.progress {
  background-color: rgb(230, 230, 230);
  height: 2em;
  border-radius: 1em;
}

.progress-done {
  opacity: 0;
  width: 0;
  transition: 3s ease;
  height: 2em;
  text-align: end;
  color: #eee;
  border-radius: 1em;
}

/* Course */

a:hover {
  color: olive !important;
}
.tab-content > .tab-pane:not(.active) {
  display: block;
  height: 0;
  overflow-y: hidden;
}
